
/* La couleur trop foncer :#2D3B56 */
/* Deuxieme couleur pas trop foncer :#4C5E7E */
/* Pour les ordinateur normal :1200px. */
/* couleur pour les hover: rgba(255, 0, 0, 0.5) */
/* Pour les ordinateur normal Petit :992px. */
/* Pour les tablettes :768px. */
/* Pour des petits telephones :320px. */
/* Pour de telephones normal :480px. */

/* buttons css  */
.boxed-btn5 {
  display: inline-block;
  padding: 12px 50px;
  font-family: 'Times New Roman', Times, sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: 0;
  border: 1px solid #0f3959;
  text-align: center;
  color: #0f3959 !important;
  text-transform: uppercase;
  cursor: pointer;
}
.boxed-btn5:hover {
  background: #0f3959;
  color: #fff !important;
  border: 1px solid #0f3959;
}
/*  2 */
.boxed-btn3 {
  background: #0f3959;
  color: #fff;
  display: inline-block;
  padding: 10px 40px;
  font-family: 'Times New Roman', Times, sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: 0;
  border-radius: 0;
  border: 1px solid transparent;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
}
.boxed-btn3:hover {
  background: #fff;
  color: #0f3959;
  border: 1px solid rgba(15, 57, 89, .3);
}
/* end buttons section */
/* css generale pour le program*/
body {
  font-family: 'Times New Roman', Times, sans-serif;
}

a:focus,
.button:focus, button:focus {
  text-decoration: none;
  outline: none;
}

a{
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none;
}

a,
button {
  color: #1F1F1F;
  outline: medium none;
}
h1, h2, h3, h4, h5 {
  font-family: 'Times New Roman', Times, sans-serif;
  color: #0f3959;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #7d84ab;
  margin-bottom: 5px;
  font-family: 'Times New Roman', Times, sans-serif;
}
h3 {
  font-size: 24px;
}
.banner{
  position: relative;
  width: 100%;
  height: 50vh;
}

.banner img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content{
  position: relative;
  width: 75%;
  margin: 0 auto;
}
@media only screen and (max-width: 1160px){
  .content{
    width: 85%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1120px){
  .content{
    width: 90%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1299px){
  .content{
    width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 900px){
  .content{
    width: 90%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 769px){
  .content{
    width: 99%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 990px){
  .banner{
    height: 45vh;
    padding: 0 5px;
  }
}
/* fin du css generale pour le program*/



/*===================  ====================*/
/* job and carrier section details
============================================================================================ */
.job_details .container .row{
  border: 1px solid black;
}
/* add to footer for binding with my codes */
.footer .card{
  background-color: rgba(27, 67, 97, 1);
  border: 0;
}
.footer .downfooter p{
  color: #fff !important;
}

